header {
    background-color: aquamarine;
    color: black;
    text-align: left;
    height: 75px;
    padding: 25px;
}

html {
    height: 100%;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.container {
    height: 100%;
}

#left {
    float: left;
    width: 30%;
    min-height: 100%;
    background-color: lightcyan;
}

#right {
    float: right;
    width: 70%;
    min-height: 100%;
    background-color: lightpink;
}

#left label {
    display: block;
}

#day1, #day2, #day3, #day4, #day5 {
    display: inline-block;
}
